@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.primary-header {
  color: white;
  text-shadow: 3px 3px rgba(63, 63, 63, 0.315);
}

.secundary-header {
  font-size: 3rem;
  color: #0e030b;
  text-shadow: 3px 3px rgba(63, 63, 63, 0.103);
}

.behind-all {
  z-index: -1000 !important;
}

.in-front-of-all {
  z-index: 1000 !important;
}

.center-flex {
  display: flex;
  justify-content: center;
}

@keyframes arrow-scroll {
  0% {
    opacity: 1;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
@keyframes blueWolfEnter {
  0% {
    opacity: 0;
    transform: translate(-50%, -100%);
  }
  30% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
@keyframes whiteWolfEnter {
  0% {
    opacity: 0;
    transform: translate(3.79%, -55%);
  }
}
@keyframes titleEnter {
  0% {
    opacity: 0;
  }
}
@keyframes heroEnter {
  0% {
    opacity: 0;
    height: 0vh;
  }
  50% {
    opacity: 1;
  }
}
.navigation {
  display: grid;
  grid-template-columns: 66% auto;
  font-size: 1.3rem;
  backface-visibility: hidden;
  height: 13vh;
}
.navigation__name {
  font-size: 2.4rem;
  color: white;
}
.navigation__nav {
  background-color: #5e0e5a;
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem 2rem 4rem;
  align-items: center;
}
.navigation__list {
  display: flex;
}
.navigation__link {
  position: relative;
  color: #fafafa;
  margin: 0 1rem;
  padding: 0 0.3rem;
}
.navigation__link::after {
  content: "";
  position: absolute;
  background-color: white;
  height: 0.3rem;
  top: 2.1rem;
  left: 0;
  width: 0%;
  transition: 0.2s;
}
.navigation__link:hover::after {
  width: 100%;
}

.social {
  background-color: #fafafa;
  padding: 2rem 2rem 2rem 4rem;
}
.social__list {
  display: flex;
  justify-content: center;
}
.social__item {
  width: auto;
  padding: 2rem;
}
.social__img {
  width: 4rem;
  transition: 0.2s;
  filter: brightness(0);
}
.social__img:hover {
  transform: scale(1.2);
}

.hero {
  display: grid;
  grid-template-columns: 66% auto;
  position: relative;
  background-color: #fafafa;
  z-index: -20;
}
.hero__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  background-color: #5e0e5a;
  animation-name: heroEnter;
  animation-fill-mode: backwards;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  font-size: 4rem;
  border-radius: 0px 0px 3rem 0px;
}
.hero__title {
  display: flex;
  justify-content: center;
  animation-name: titleEnter;
  animation-delay: 2.3s;
  animation-fill-mode: backwards;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  padding-left: 8rem;
  padding-right: 14rem;
}
.hero__subtitle {
  display: flex;
  justify-content: center;
}
.hero__scroll-down-img {
  padding-top: 20vh;
  animation-name: titleEnter;
  animation-delay: 2.6s;
  animation-fill-mode: backwards;
  animation-duration: 1.2s;
  animation-timing-function: ease-out;
}
.hero__secundary {
  background-color: #fafafa;
  z-index: -10;
  height: 90vh;
}
.hero__arrow {
  display: block;
  box-shadow: 3px 3px rgba(63, 63, 63, 0.315);
  width: 3rem;
  height: 3rem;
  border-bottom: 5px solid white;
  border-right: 5px solid white;
  transform: rotate(45deg);
  margin: -10px;
  animation: arrow-scroll 2s infinite;
}
.hero__arrow--p2 {
  animation-delay: -0.2s;
}
.hero__arrow--p3 {
  animation-delay: -0.4s;
}
.hero__logo {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(3.89%, -55%);
  animation-name: blueWolfEnter;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
  animation-duration: 1.2s;
  animation-timing-function: ease-out;
  filter: brightness(0);
}
.hero__logo--white_side {
  animation-name: whiteWolfEnter;
  animation-delay: 1.9s;
  animation-fill-mode: backwards;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  clip-path: polygon(0 0, 49.4% 0, 49.4% 100%, 0% 100%);
  filter: brightness(100);
}

.card-container {
  padding: 3.5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.card {
  background-color: #5e0e5a;
  border: 0.3rem solid #0e030b;
  perspective: 150rem;
  box-shadow: 0.3rem 0.3rem 1px rgba(63, 63, 63, 0.103);
  -moz-perspective: 150rem;
  position: relative;
  height: 45rem;
  width: 30rem;
  transition: 0.2s;
  border-radius: 3px;
}
.card__img {
  width: 100.3%;
  height: 35%;
  clip-path: ellipse(100% 61% at 16% 33%);
}
.card__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  width: 100.5%;
  height: 0;
  clip-path: ellipse(100% 61% at 16% 33%);
  background-color: #0e030b;
  position: absolute;
  color: #fafafa;
  top: 0;
  left: 0;
  transition: all 0.3s;
}
.card__btn {
  width: 15rem;
  height: fit-content;
  background-color: #fafafa;
  color: #5e0e5a;
  border: 0.5rem solid #fafafa;
  text-decoration: none;
  font-size: 1.3rem;
  padding: 0.5rem 0.5rem;
  border-radius: 0px 1rem 10rem 0rem;
  transition: all 0.3s;
}
.card__btn:hover {
  background-color: #0e030b;
  color: #fafafa;
}
.card__title {
  padding: 1rem;
  font-size: 2rem;
}
.card__description {
  font-size: 1.3rem;
  padding: 2.5rem;
  color: #fafafa;
}
.card__bottom {
  position: absolute;
  width: 100%;
  top: 29.5rem;
}
.card__list {
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  color: #fafafa;
  padding: 1rem;
  padding-top: 0;
}
.card__technologies {
  padding: 0.7rem;
  border-radius: 2rem;
  border: 0.3rem solid #0e030b;
  background-color: #fafafa;
  color: #0e030b;
}
.card:hover {
  box-shadow: 1rem 1rem 5px rgba(63, 63, 63, 0.103);
  transform: translateY(-0.8rem);
}
.card:hover .card__links {
  height: 35.5%;
}

.section-projects {
  background-color: #fafafa;
  padding: 5rem 0;
}

.section-skills {
  background-color: #fafafa;
  padding: 5rem 0;
}

/*# sourceMappingURL=style.css.map */
