@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  background-color: #FFF4E4;
}
@media only screen and (max-width: 86.25em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.primary-header {
  color: #6EFAFB;
  text-shadow: 3px 3px rgba(63, 63, 63, 0.315);
}

.secundary-header {
  font-size: 3.4rem;
  color: #0e030b;
  text-decoration: underline #0091AD;
}

.behind-all {
  z-index: -1000 !important;
}

.in-front-of-all {
  z-index: 1000 !important;
}

.center-flex {
  display: flex;
  justify-content: center;
}

@keyframes arrow-scroll {
  0% {
    opacity: 1;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
@keyframes blueWolfEnter {
  0% {
    opacity: 0;
    transform: translate(-50%, -100%);
  }
  30% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
@keyframes whiteWolfEnter {
  0% {
    opacity: 0;
    transform: translate(3.79%, -55%);
  }
}
@keyframes titleEnter {
  0% {
    opacity: 0;
  }
}
@keyframes heroEnter {
  0% {
    opacity: 0;
    height: 0vh;
  }
  50% {
    opacity: 1;
  }
}
.navigation {
  display: grid;
  grid-template-columns: 66% auto;
  font-size: 1.3rem;
  backface-visibility: hidden;
  height: 13vh;
}
@media only screen and (max-width: 86.25em) {
  .navigation {
    grid-template-columns: 100% auto;
  }
}
.navigation__name {
  font-size: 2.4rem;
  color: #F7E8A4;
}
@media only screen and (max-width: 56.25em) {
  .navigation__name {
    font-size: 2rem;
  }
}
.navigation__nav {
  background-color: #0091AD;
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem 2rem 4rem;
  align-items: center;
}
.navigation__list {
  display: flex;
}
.navigation__link {
  position: relative;
  color: #FFF4E4;
  margin: 0 1rem;
  padding: 0 0.3rem;
}
.navigation__link::after {
  content: "";
  position: absolute;
  background-color: #F7E8A4;
  height: 0.3rem;
  top: 2.1rem;
  left: 0;
  width: 0;
  transition: 0.2s;
}
.navigation__link:hover::after {
  width: 100%;
}

.social {
  background-color: #FFF4E4;
  padding: 2rem 2rem 2rem 4rem;
}
@media only screen and (max-width: 86.25em) {
  .social {
    display: none;
  }
}
.social__list {
  display: flex;
  justify-content: center;
}
.social__item {
  width: auto;
  padding: 2rem;
}
.social__img {
  width: 4rem;
  transition: 0.2s;
  filter: invert(40%) sepia(79%) saturate(4498%) hue-rotate(167deg) brightness(96%) contrast(101%);
}
.social__img:hover {
  transform: scale(1.2);
}

.hero {
  display: grid;
  grid-template-columns: 66% auto;
  position: relative;
  background-color: #FFF4E4;
  z-index: -20;
}
@media only screen and (max-width: 86.25em) {
  .hero {
    grid-template-columns: none;
    background-color: #0091AD;
  }
}
.hero__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  background-color: #0091AD;
  animation-name: heroEnter;
  animation-fill-mode: backwards;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  font-size: 3.6rem;
  border-radius: 0px 0px 3rem 0px;
}
@media only screen and (max-width: 86.25em) {
  .hero__main {
    border-radius: none;
  }
}
.hero__title {
  padding-left: 3rem;
  padding-right: 30rem;
  animation-name: titleEnter;
  animation-delay: 2.3s;
  animation-fill-mode: backwards;
  color: #6EFAFB;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
@media only screen and (max-width: 86.25em) {
  .hero__title {
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 0;
  }
}
@media only screen and (max-width: 56.25em) {
  .hero__title {
    font-size: 3.2rem;
  }
}
.hero__subtitle {
  padding-left: 6rem;
}
@media only screen and (max-width: 86.25em) {
  .hero__subtitle {
    padding: 0;
    display: flex;
    justify-content: center;
  }
}
.hero__scroll-down-img {
  padding-top: 20vh;
  animation-name: titleEnter;
  animation-delay: 2.6s;
  animation-fill-mode: backwards;
  animation-duration: 1.2s;
  animation-timing-function: ease-out;
}
.hero__secundary {
  background-color: #FFF4E4;
  z-index: -10;
  height: 90vh;
}
@media only screen and (max-width: 86.25em) {
  .hero__secundary {
    display: none;
  }
}
.hero__arrow {
  display: block;
  box-shadow: 3px 3px rgba(63, 63, 63, 0.315);
  width: 3rem;
  height: 3rem;
  border-bottom: 5px solid #6EFAFB;
  border-right: 5px solid #6EFAFB;
  transform: rotate(45deg);
  animation: arrow-scroll 2s infinite;
}
.hero__arrow--p2 {
  animation-delay: -0.2s;
}
.hero__arrow--p3 {
  animation-delay: -0.4s;
}
.hero__logo {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(4.1%, -55%);
  animation-name: blueWolfEnter;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
  animation-duration: 1.2s;
  animation-timing-function: ease-out;
  filter: invert(40%) sepia(79%) saturate(4498%) hue-rotate(167deg) brightness(96%) contrast(101%);
}
.hero__logo--white_side {
  animation-name: whiteWolfEnter;
  animation-delay: 1.9s;
  animation-fill-mode: backwards;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  clip-path: polygon(0 0, 49.4% 0, 49.4% 100%, 0% 100%);
  filter: invert(98%) sepia(81%) saturate(3287%) hue-rotate(152deg) brightness(100%) contrast(98%);
}
@media only screen and (max-width: 86.25em) {
  .hero__logo--white_side {
    display: none;
  }
}

.skills__list {
  padding: 5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10rem;
  row-gap: 4rem;
  font-size: 1.7rem;
}
@media only screen and (max-width: 56.25em) {
  .skills__list {
    padding: 1rem;
    padding-top: 5rem;
  }
}
.skills__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.skills__title {
  display: inline-block;
  margin: auto;
}
.skills__img {
  filter: invert(40%) sepia(79%) saturate(4498%) hue-rotate(167deg) brightness(96%) contrast(101%);
  width: 20rem;
  transition: 0.2s;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .skills__img {
    width: 10rem;
  }
}
.skills__img:hover {
  transform: scale(1.1);
}

.about {
  display: flex;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
}
.about__info {
  position: relative;
  left: 8rem;
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  width: 60rem;
}
@media only screen and (max-width: 86.25em) {
  .about__info {
    left: 0;
  }
}
.about__pharagraph {
  padding: 1rem;
  margin: 1rem 0;
  font-size: 1.6rem;
}
.about__title {
  font-size: 3rem;
  color: #0091AD;
}
.about__resume-link {
  width: fit-content;
  margin: 1rem;
  padding: 1rem;
  border-radius: 3px;
  color: #0e030b;
  border: 1px solid #0e030b;
}
.about__photograph {
  right: 8rem;
  position: relative;
  width: 60rem;
  border-radius: 0.5rem;
}
@media only screen and (max-width: 86.25em) {
  .about__photograph {
    display: none;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #0091AD;
  padding: 3.3rem;
}
.footer__links {
  color: #F7E8A4;
  padding: 1rem;
  font-size: 1.5rem;
}
.footer__links:hover {
  color: #FFF4E4;
}
.footer__logo {
  width: 10rem;
  filter: invert(98%) sepia(81%) saturate(3287%) hue-rotate(152deg) brightness(100%) contrast(98%);
}
.footer__copyright {
  padding-top: 1rem;
  color: #FFF4E4;
  font-size: 1.2rem;
}

.card-container {
  padding: 3rem;
  padding-top: 5rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
}
@media only screen and (max-width: 86.25em) {
  .card-container {
    padding: 5rem;
    padding-top: 5rem;
    gap: 8rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .card-container {
    padding: 0;
    padding-top: 5rem;
    gap: 4rem;
  }
}

.card {
  background-color: #0091AD;
  border: 0.3rem solid #0e030b;
  perspective: 150rem;
  box-shadow: 0.3rem 0.3rem 1px rgba(63, 63, 63, 0.103);
  -moz-perspective: 150rem;
  position: relative;
  height: 45rem;
  width: 30rem;
  transition: 0.2s;
  border-radius: 3px;
}
.card__img {
  width: 100%;
  height: 35%;
  clip-path: ellipse(100% 97% at 50% 0%);
  background-size: 100%;
  background-color: #0091AD;
  background-blend-mode: luminosity;
}
.card__img--1 {
  background-image: url(/media/screenshot_project_applecatcher.png);
}
.card__img--2 {
  background-image: url(/media/screenshot_project_autoplanner.png);
}
.card__img--3 {
  background-image: url(/media/screenshot_project_treesitos.png);
}
.card__img--4 {
  background-image: url(https://res.cloudinary.com/duscflsvf/image/upload/v1631997490/Screen_Shot_2021-09-18_at_4.37.42_PM_gj7bbv.png);
}
.card__links {
  display: flex;
  height: 35.5%;
  width: 100%;
  clip-path: ellipse(100% 97% at 50% 0%);
  background-color: transparent;
  position: absolute;
  color: #FFF4E4;
  opacity: 0;
  top: 0;
  left: 0;
  transition: ease-out 0.3s;
}
@media only screen and (max-width: 86.25em) {
  .card__links {
    opacity: 1;
  }
}
.card__btn-container {
  display: block;
  margin: auto;
}
.card__btn {
  position: relative;
  margin: 1.5rem;
  display: flex;
  justify-content: center;
  width: 14rem;
  height: fit-content;
  background-color: #6efbfb63;
  color: #0e030b;
  border: 0.2rem solid #0e030b;
  text-decoration: none;
  font-size: 1.3rem;
  padding: 0.5rem 0.3rem;
  border-radius: 3rem;
  transition: all 0.3s;
}
@media only screen and (max-width: 86.25em) {
  .card__btn {
    background-color: #6efbfb63;
  }
}
.card__btn:hover {
  background-color: #0e030b;
  color: #FFF4E4;
}
.card__title {
  padding: 1rem;
  font-size: 2rem;
}
.card__description {
  font-size: 1.3rem;
  padding: 2.5rem;
  color: #FFF4E4;
}
.card__bottom {
  display: flex;
  position: absolute;
  width: 100%;
  top: 29.5rem;
  height: 15rem;
  align-items: center;
}
.card__list {
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.2rem;
  color: #FFF4E4;
  padding: 1rem;
  padding-top: 0;
}
.card__technologies {
  padding: 0.5rem 0.83rem;
  border-radius: 3rem;
  border: 0.1rem solid #0e030b;
  background-color: #ffffffe5;
  color: #0e030b;
}
.card:hover {
  box-shadow: 1rem 1rem 5px rgba(63, 63, 63, 0.103);
  transform: translateY(-0.8rem);
}
.card:hover .card__links {
  opacity: 1;
  backdrop-filter: blur(1px);
}

.section-skills {
  background-color: #FFF4E4;
  padding: 5rem 3rem;
  padding-bottom: 0;
}

.section-projects {
  background-color: #FFF4E4;
  padding: 5rem 3rem;
  padding-bottom: 0;
}

.section-about {
  background-color: #FFF4E4;
  padding: 5rem 3rem;
}

/*# sourceMappingURL=style.css.map */
