$color-primary: #1968aa;
$color-primary-dark: #14578d;
$color-secundary: #C2F2FF;
$color-secundary-light: #e8f4f8;
$color-tertiary: #151524;
$color-white: #FFFFFF;
$color-black: #071E22;

$default-font-size: 1.3rem;

$default-shadow: 3px 3px rgba(63, 63, 63, 0.315);