$color-primary:#0091AD;
$color-secundary: #6EFAFB;
$color-secundary-light: #e8f4f8;
$color-tertiary: #F7E8A4;
$color-white: #FFF4E4;
$color-black: #0e030b;
$color-secundary-transparent:#6efbfb63;

$filter-color-primary: invert(40%) sepia(79%) saturate(4498%) hue-rotate(167deg) brightness(96%) contrast(101%);
$filter-color-secundary: invert(98%) sepia(81%) saturate(3287%) hue-rotate(152deg) brightness(100%) contrast(98%);

$default-font-size: 1.3rem;

$default-shadow: 3px 3px rgba(63, 63, 63, 0.315);