.about {
  display: flex;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
  &__info {
    position: relative;
    left: 8rem;
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    width: 60rem;
    @include respond(tab-land){
      left: 0;
    }
  }
  &__pharagraph {
    padding: 1rem;
    margin: 1rem 0;
    font-size: 1.6rem;
  }
  &__title{
    font-size: 3rem;
    color: $color-primary;
  }
  &__resume-link {
    width: fit-content;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10rem;
    color: $color-black;
    font-size: 1.2rem;
    border: 1px solid $color-black;
    background-color: $color-secundary-transparent;
    transition: all .2s;
    &:hover{
      background-color: $color-black;
      color: $color-white;
    }
  }
  &__photograph {
    right: 8rem;
    position: relative;
    width: 60rem;
    border-radius: 0.5rem;
    @include respond(tab-land){
      display: none;
    }
  }
}
