.hero {
  display: grid;
  grid-template-columns: 66% auto;
  position: relative;
  background-color: $color-white;
  z-index: -20;
  @include respond(tab-land) {
    grid-template-columns: none;
    background-color: $color-primary;
  }
  &__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    background-color: $color-primary;
    animation-name: heroEnter;
    animation-fill-mode: backwards;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    font-size: 3.6rem;
    border-radius: 0px 0px 3rem 0px;
    @include respond(tab-land) {
      border-radius: none;
    }
  }
  &__title {
    padding-left: 3rem;
    padding-right: 30rem;
    animation-name: titleEnter;
    animation-delay: 2.3s;
    animation-fill-mode: backwards;
    color: $color-secundary;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    @include respond(tab-land) {
      display: flex;
      justify-content: center;
      align-self: center;
      padding: 0;
    }
    @include respond(tab-port){
      font-size: 3.2rem;
    }
  }
  &__subtitle {
    padding-left: 6rem;
    @include respond(tab-land) {
      padding: 0;
      display: flex;
      justify-content: center;
    }
  }
  &__scroll-down-img {
    padding-top: 20vh;
    animation-name: titleEnter;
    animation-delay: 2.6s;
    animation-fill-mode: backwards;
    animation-duration: 1.2s;
    animation-timing-function: ease-out;
  }
  &__secundary {
    @include respond(tab-land) {
      display: none;
    }
    background-color: $color-white;
    z-index: -10;
    height: 90vh;
  }
  &__arrow {
    display: block;
    box-shadow: $default-shadow;
    width: 3rem;
    height: 3rem;
    border-bottom: 5px solid $color-secundary;
    border-right: 5px solid $color-secundary;
    transform: rotate(45deg);
    animation: arrow-scroll 2s infinite;
    &--p2 {
      animation-delay: -0.2s;
    }
    &--p3 {
      animation-delay: -0.4s;
    }
  }
  &__logo {
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(4.1%, -55%);
    animation-name: blueWolfEnter;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
    animation-duration: 1.2s;
    animation-timing-function: ease-out;
    filter: $filter-color-primary;
    &--white_side {
      animation-name: whiteWolfEnter;
      animation-delay: 1.9s;
      animation-fill-mode: backwards;
      animation-duration: 1s;
      animation-timing-function: ease-out;
      clip-path: polygon(0 0, 49.4% 0, 49.4% 100%, 0% 100%);
      filter: $filter-color-secundary;
      @include respond(tab-land) {
        display: none;
      }
    }
  }
}
