.navigation {
  display: grid;
  grid-template-columns: 66% auto;
  font-size: $default-font-size;
  backface-visibility: hidden;

  height: 13vh;
  @include respond(tab-land) {
    grid-template-columns: 100% auto;
  }
  &__name {
    font-size: 2.4rem;
    color: $color-tertiary;
    @include respond(tab-port){
      font-size: 2rem;
    }
  }

  &__nav {
    background-color: $color-primary;
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem 2rem 4rem;
    align-items: center;
  }
  &__list {
    display: flex;
  }
  &__link {
    position: relative;
    color: $color-white;
    margin: 0 1rem;
    padding: 0 0.3rem;
    &::after {
      content: "";
      position: absolute;
      background-color: $color-tertiary;
      height: 0.3rem;
      top: 2.1rem;
      left: 0;
      width: 0;
      transition: 0.2s;
    }
    &:hover::after {
      width: 100%;
    }
  }
}

.social {
  background-color: $color-white;
  padding: 2rem 2rem 2rem 4rem;
  @include respond(tab-land) {
    display: none;
  }
  &__list {
    display: flex;
    justify-content: center;
  }
  &__item {
    width: auto;
    padding: 2rem;
  }
  &__img {
    width: 4rem;
    transition: 0.2s;
    filter: invert(14%) sepia(21%) saturate(7295%) hue-rotate(282deg)
      brightness(90%) contrast(106%);
    &:hover {
      transform: scale(1.2);
    }
  }
}
