.skills{
  &__list{
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15%;
    row-gap: 4rem;
    font-size: 1.7rem;
  }
  &__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__title{
    display:inline-block;
    margin: auto;
  }
  &__img{
    filter: invert(14%) sepia(21%) saturate(7295%) hue-rotate(282deg) brightness(90%) contrast(106%);
    width: 15rem;
    transition: .2s;
    margin-bottom: 2rem;
    &:hover{
      transform: scale(1.1);
    }
  }
}