.skills{
  &__list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10rem;
    column-gap: 10rem;
    font-size: 2rem;
  }
  &__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__title{
    display:inline-block;
    margin: auto;
  }
  &__img{
    filter: invert(14%) sepia(21%) saturate(7295%) hue-rotate(282deg) brightness(90%) contrast(106%);
    width: 20rem;
  }
}