@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.primary-header {
  color: $color-secundary;
  text-shadow: $default-shadow;
}

.secundary-header{
  font-size: 3.4rem;
  color: $color-black;
}